*, ::before, ::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul, ol {
	margin: 0;
}

li {
	margin: 0;
	list-style-type: none;
}

body,html {
	margin: 0;
	font-family: 'Open Sans';

}

a {
	color: inherit;
	text-decoration: inherit;
}

h2 {
	margin: 0;
}

.header {
	min-height: 80vh;
	background-image: url(../pictures/header__img.jpg);
	background-color: #000;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	color: #fff;
	position: relative;
	padding-top: 30px;
	padding-right: 10vw;
	padding-left: 10vw;
	padding-bottom: 30px;

}

.header::after {
	content: '';
	position: absolute;

	background-color: #000;
	opacity: 0.5;

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.menu {
	position: relative;
	z-index: 1;
	text-transform: uppercase;
}

.menu__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-left: 0;
}

.menu__item {
	margin-right: 30px;
	margin-left: 0;
}

.menu__list :last-child {
	margin-right: 0;
}

.header__h {
	z-index: 1;
	position: relative;

	text-transform: uppercase;
	font-weight: 700;
	margin-top: 25vh;

	font-size: 3rem;
}

.header__text {
	font-size: 16px;
	position: relative;
	z-index: 1;
	margin-bottom: 5vh;
	font-size: 1.5rem;
}

.header__button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	border: 1px solid #fff;

	position: relative;
	z-index: 1;
	justify-content: center;
	align-items: center;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.header__button:hover {
	color: #000;
	background-color: #fff;
}

.section__header {
	text-transform: uppercase;
	margin: 0;
	font-size: 3.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 10vw;
	background-color: #213F80;
	color: #fff;
}


.main {
	margin: 0px;
/*	-webkit-box-shadow-top: 0 0 5px #000;
box-shadow: 0 -10px 1px -1px #000;*/
position: relative;
z-index: 2;
}


.section__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;


}

.article__content {
	padding-top: 6rem;
	padding-bottom: 10rem;
	position: relative;
}

.article__header {
	font-size: 2rem;

	margin: 0;
	text-transform: uppercase;
	
	padding-left: 10vw;
	padding-right: 10vw;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;


	-ms-align-items: center;
	align-items: center;
	color:#4D5D80;
}

.article__text {
	margin-top: 2rem;
	padding-left: 10vw;
	padding-right: 10vw;
	font-size: 1.5rem;
}

.article__img {
	object-fit: cover;
}

.article__button {
	position: absolute;

	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	background-color: #98B8FF;
	display: block;
	height: 5rem;
	border: 0;
	color: #000;

	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.article__button:hover, .article__button_active {
	background-color: #213F80;
	color: #fff;
}

.program {
	height: 0px;
	overflow: hidden;
}

.route__list {
	padding-left: 10vw;
	padding-right: 10vw;
	font-size: 1.5rem;
}